.slider-width {
    width: 90% !important;
    max-width: 100%;
}

/* .slick-track img {
    padding-left: 50px;
    padding-right: 50px;
} */

.slick-track img {
    margin: 0 auto;
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
}


.slick-prev {
    position: absolute;
    left: 5%;
    top: 50% ;
    z-index: 10;
    color: black ;
    
}
.slick-next {
    position: absolute;
    right: 5% !important ;
    top: 60% ;
    z-index: 10;
} 


.slick-prev:before,
.slick-next:before {
    display: visible !important;
    color: black !important;
}
 

 

@media screen and (max-width: 500px) {




    .center-twenties {
        position: fixed;
        top: 6%;
        margin: 0 auto;
        left: 10%;
        right: 0%;
        
    }

    img {
        max-height: 500px !important
    }



    .slick-track img {
        width: 300px;
       
    }

    .slick-track {
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    

    .slick-slider {
        left: 0%;
        z-index: 1;
        position: fixed;
        max-width: 300px !important;
    }
    
    .slick-prev:before,
    .slick-next:before {
    color: black;
    }  
     .slick-prev {
        position: absolute;
        left: -25px !important;
        z-index: 10;
        color: black;
        
    }
    .slick-next {
        position: absolute;
        right: -25px!important;
        z-index: 10 !important;
    }
    iframe {
        width: 300px;
        height: 300px;
    }

}

iframe {
 width: 750px;
 height: 500px
}